#ignore the below files from getting committed
*.log
*.jar
*.parquet
*.csv
*.xls
*.xlsx
*.pyc
**/ivy*
**/__pycache__
**/build
**/.eggs
**/.pytest_cache
**data/
*.ipynb_checkpoints
*.bin
*.DS_Store
**/venv_mlops

#docker-compose
**/project.lock.json
**/bin/
**/obj/
**/.vs/
**/node_modules/